.container {
	display: flex;
	width: 96vw;
	height: 90vh;
	overflow-y: scroll;
	padding: 0px;
	margin: 0 auto;
}

.col {
	padding: 20px 0;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	width: 28vw;
	min-height: 75vh;
	margin: auto 1vw;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.no-vis {
	background-color: rgba(0,0,0,0);
}

.col:nth-child(1) {
	margin-left: 3vw;
}

.col:nth-child(3) {
	margin-right: 3vw;
}

.column h2 {
	text-align: center;
	font-size: 24px;
	margin-bottom: 15px;
	padding: 0px;
	line-height: 24px;
}

.sub-item {
	display: inline-block;
	padding: 15px 0;
	border-radius: 8px;
	width: 28vw;
	min-height: 11vh;
	height: fit-content;
	overflow-y: scroll;
	overflow-x: hidden;
	margin: 1vw auto;
	text-align: center;
}

#notes, #symptoms {
	min-height: 35vh;
}

.sub-item h3 {
	text-align: center;
}
textarea {
	background-color: rgba(0, 0, 0, 0);
	border: none;
	color: white;
}

textarea:hover {
	background-color: rgb(100, 100, 100);
}
textarea:active {
	background-color: rgb(100, 100, 100);
}

textarea#notes-box {
    background-color: rgba(255, 255, 255, 1); /* White background */
    border: 2px dotted #000; /* Black dotted border */
    color: #000; /* Black text */
    padding: 10px;
    width: 90%; /* Adjusted width */
    min-height: 120px; /* Minimum height */
    resize: vertical; /* Allow vertical resizing */
}

textarea#notes-box:hover,
textarea#notes-box:focus {
    outline: none; /* Remove default outline */
    background-color: #f9f9f9; /* Slightly darker background on hover/focus */
}
