div {
	display: block;
	margin: 0 auto;
	background-color: #2d2d2d;
	color: white;
	text-align: center;
}

input {
	width: 20em;
	height: 2em;
	background-color: #AFAFAF;
	color: black;
	text-align: left;
}

label {
	display: inline-block;
	min-width: 5em;
}