<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SCHIBDI</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/dashboard.css') }}">
</head>

<body>
	<header>
		<h1>Dashboard</h1>
	</header>
	<main>
		<label for="date">Select Date to View</label><input type="date" name="date" id="date_picker"><button id="date">Go</button>
		<div class="container">
			<div class="col" id="food">
				<h2>Food</h2>
				<div class="sub-item" id="breakfst">
					<h3>Breakfast</h3>
					{% for breakky in breakkies %}
						<input type="text" name="breakfast" value={{breakky}} placeholder="Breakfast" class="breakfast">
					{% endfor %}
					<input type="text" name="breakfast" placeholder="Breakfast" id="breakfast" class="breakfast">
					<button id="break-add">+</button>
				</div>
				<div class="sub-item" id="lunch">
					<h3>Lunch</h3>
					{% for lunchy in lunchies %}
						<input type="text" name="lunch" value={{lunchy}} placeholder="Lunch" class="lunch">
					{% endfor %}
					<input type="text" name="lunch" placeholder="Lunch" class="lunch">
					<button id="lunch-add">+</button>
				</div>
				<div class="sub-item" id="dinner">
					<h3>Dinner</h3>
					{% for dinny in dinnies %}
						<input type="text" name="dinner" value={{dinny}} placeholder="Dinner" class="dinner">
					{% endfor %}
					<input type="text" name="dinner" placeholder="Dinner" class="dinner">
					<button id="dinner-add">+</button>
				</div>
				<div class="sub-item" id="snacks">
					<h3>Snacks</h3>
					{% for snacky in snackies %}
						{% if loop.index > 3 %}
							<input type="text" name="snack" value={{snacky}} placeholder="snack" class="snack">
						{% endif %}
					{% endfor %}
					<input type="text" name="snack" placeholder="Yummy snack 😋" class="snack">
					<button id="snack-add">+</button>
				</div>
			</div>
			<div class="col" id="meds">
				<h2>Medication</h2>
				<div class="med-inputs">
					<div class="sub-item" id="configure">
						<h3>Configure</h3>
					</div>
					<div class="sub-item" id="meds">
						<h3>Today's Medicine</h3>
						{% for med in meds %}
							{% if med[1] %}
								<input type="checkbox" name="meds" value={{med}} checked id="medications">
							{% else %}
								<input type="checkbox" name="meds" value={{med}} id="medications">
							{% endif %}
						{% endfor %}
						<input type="text" name="meds" placeholder="Add a medication" id="add_med"><button id="med-add">+</button>
					</div>
				</div>
			</div>
			<div class="col no-vis" id="log">
				<div class="sub-item" id="symptoms">
					<h2>Symptoms</h2>
						<p>Today I felt:</p>
						<div id="sym-inputs">
							{% for sym in syms %}
								<input type="text" list="symps" value={{sym}} id="sympts" name="syms" placeholder="Add a symptom">
							{% endfor %}
							<input type="text" list="symps" class="sympts" name="syms" placeholder="Add a symptom">
							<input type="text" list="symps" class="sympts" name="syms" placeholder="Add a symptom">
							<datalist id="symps">
								<option value="Nausea"></option>
								<option value="Diarrhea"></option>
								<option value="Mint"></option>
								{% for sym in syms %}
									<option value={{sym}}></option>
								{% endfor %}
							</datalist>
						</div>
					<button id="sym-add">+</button>
				</div>
				<div class="sub-item" id="notes">
					<h2>Notes</h2>
					<textarea width="25vw" name="notes" placeholder="Notes for future you...">{% if notes %}{{notes}}{% endif %}</textarea>
				</div>
			</div>
		</div>
	</main>
	<footer>
		<p>&copy; 2023 My Web App</p>
	</footer>
	<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
</body>

</html>